// ====================
// LMS - Base
// ====================
html,
body {
    overflow: auto;
    height: 100%;
    -webkit-font-smoothing: unset;
    -moz-osx-font-smoothing: unset;
    font-family: $font-family-serif;

    // Sticky footer rules
    .window-wrap {
        display: flex;
        min-height: 100%;
        flex-direction: column;

        .content-wrapper {
            margin: 0 auto;
            background: $white;
            flex: 1;
            @include padding-left(0);
            @include padding-right(0);
        }
    }
}

html {
    overflow: auto !important;
}

#main,
.container,
.course-tabs,
.wrapper-preview-menu .preview-menu,
.content-wrapper .page-content-container {
    @include margin-left(auto);
    @include margin-right(auto);
    @include padding-left(($baseline*0.75));
    @include padding-right(($baseline*0.75));
    max-width: $container-default;
}

body {
    overflow: initial !important;
    background: $body-bg;
    min-width: 320px;

    &.view-passwordreset,
    &.login-register-view {
        background: $gray-lightest;

        &:before { // Hack, background appear
            margin: auto;
            z-index: -111;
            top: 0;
            @include right(0);
            position: fixed;
            @include left(0);
            content: '';
            bottom: 0;
            background: $gray-lightest;
        }
    }

    &.view-in-course {

        .content-wrapper {
            max-width: $container-default;
            padding: 0;

            .container {
                @include padding-left(0);
                @include padding-right(0);
            }
        }
    }

    &.view-wiki,
    &.view-progress {

        .container {
            padding-top: 0;
            padding-bottom: 0;
        }

        #main {
            @include padding-left(0);
            @include padding-right(0);
        }
    }
}

.content-wrapper {
    margin: 0 auto;
    padding: 0;

    .page-content {
        padding-bottom: $baseline*1.5;
    }

    .error-page &,
    .view-passwordreset &,
    .login-register-view & {
        background: transparent !important;
    }
}

#main {

    .view-profile & {
        max-width: none;
        padding: 0;
    }
}

.dashboard {
    .side-container {
        @include media-down(md) {
            min-width: 0;
        }
    }
}

// Change auto complete styles in WebKit
input,
select,
textarea {

    &:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s;

        &:hover,
        &:focus {
            transition: background-color 5000s ease-in-out 0s;
        }
    }
}
