//
// Theme colors
//
// Note: define colors needed by your theme first

// Define your theme's base color
$sky-blue:              #3E99D4;

// Make your theme's base color as primary color
$primary:               $sky-blue;

// Overrides variables
$body-bg:               transparent;
$black:                 #000;
$white:                 #FFF;
$text-color:            #121212;

// Font family
$font-family-serif: 'Open Sans', sans-serif;
$font-family-sans-serif: 'Open Sans', sans-serif;

// ------------------------------
// THEME's variables
// ------------------------------
$gray-darker:           #2D3235;
$gray-dark:             #333A3F;
$gray-dark2:            #222;
$gray-mid:              #454545;
$gray-lighter:          #CCC;
$gray-lightest:         #F2F2F2;
$blue-dark:             #126F9A;

$color-gray-smoke:     #F3F4F6;
$color-gray-light:     #A3A3A3;

// Social media
$facebook-color:        #3B5998;
$twitter-color:         #00ACED;
$linkedin-color:        #007BB5;
$instagram-color:       #517FA4;
$dribbble-color:        #EA4C89;
$pinterest-color:       #CB2027;
$google-plus-color:     #DD4B39;
$youtube-color:         #B00;

// Fonts
$heading-font:          'Roboto Slab', serif;

// Make your theme's base color as primary color
$primary:               $sky-blue;
$baseline:              20px;
$border-radius:         3px;
$container-default:     1170px;
$dropdown-shadow:       0 1px 5px -1px rgba(0, 0, 0, 0.3);

$warning-color:         #DC3545;
// ----------------------------
// System notification alert colors
// ----------------------------
$state-success:         #28A745;
$state-success-text:    $text-color;
$state-success-bg:      rgba($state-success, .05);
$state-success-border:  lighten($state-success, 15%);

$state-info:            #0079B8;
$state-info-text:       $text-color;
$state-info-text-link:  $text-color;
$state-info-bg:         rgba($state-info, .05);
$state-info-border:     rgba($state-info, .5);

$state-warning:         #FFE15E;
$state-warning-text:    $text-color;
$state-warning-bg:      rgba($state-warning, .2);
$state-warning-border:  $state-warning;

$state-danger:          #F66E7E;
$state-danger-text:     $text-color;
$state-danger-bg:       rgba($state-danger, .05);
$state-danger-border:   lighten($state-danger, 15%);
