.page-banner {
    max-width: none;
    width: 100%;

    .user-messages {
        margin: 0;

        .user-messages-ul {
            margin: 0;

            li {
                margin: 0;

                .alert {
                    margin: 0;
                    align-items: center;
                    justify-content: center;
                    position: $baseline*0.75;
                }
            }
        }
    }
}

.alert {
    display: flex;
    padding: $baseline;
    border: 1px solid;
    font-size: 14px;

    .suitewise-notifications-wrapper & {
        margin: 0;
        max-width: none;
        border: 0;
        border-bottom: 1px solid;
        border-radius: 0;
    }

    .alert-link {
        @include margin-left(auto);
        font-size: 13px;
        color: $warning-color !important;

        &:hover {
            text-decoration: underline;
        }

        .fa {
            font-size: 15px;
        }
    }

    .icon-alert {
        @include margin-right($baseline);
    }

    .message-actions {
        @include margin-left($baseline);
    }

    &.alert-info {
        color: $state-info-text;
        background-color: $state-info-bg;
        border-color: $state-info-border;
        box-shadow: none;
        line-height: initial;

        .suitewise-notifications-wrapper & {
            color: $text-color;
        }

        a,
        .btn-link {
            color: $state-info-text-link;
            font-weight: bold;
            border-color: transparent;

            .suitewise-notifications-wrapper & {
                color: $text-color;
                font-weight: normal;
            }
        }
    }

    &.alert-success {
        color: $state-success-text;
        background-color: $state-success-bg;
        border-color: $state-success-border;
        box-shadow: none;

        .suitewise-notifications-wrapper & {
            color: $text-color;
        }
    }

    &.alert-warning {
        color: $state-warning-text;
        background-color: $state-warning-bg;
        border-color: $state-warning-border;
        box-shadow: none;

        .suitewise-notifications-wrapper & {
            color: $text-color;
        }
   }

    &.alert-danger {
        color: $state-danger-text;
        background-color: $state-danger-bg;
        border-color: $state-danger-border;
        box-shadow: none;

        .suitewise-notifications-wrapper & {
            color: $text-color;
        }
    }
}

