// ===============================
// lms - views - verification flow
// ===============================
.verification-process {

    .page-header {
        @include padding(20px, 0, 0, 0);

        > .title {
            color: var(--primary);
            border-width: 0;
        }
    }

    input {

        &[type='submit'] {
            background-color: var(--primary) !important;
            box-shadow: none !important;
            border-radius: 4px !important;

            &:hover {
                background-color: var(--primary-darken-5p) !important;
            }
        }
    }

    &.step-select-track {

        .register-choice-audit {
            border-color: var(--primary);
        }
    }
}
